<div class="auth-container">
  <h2>{{ isSignUpMode ? "Sign Up" : "Sign In" }}</h2>
  <div *ngIf="!isSignUpMode">
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
      <div>
        <label>Email:</label>
        <input formControlName="email" type="email" />
      </div>
      <div>
        <label>Password:</label>
        <input formControlName="password" type="password" />
      </div>
      <button type="submit">{{ isSignUpMode ? "Sign Up" : "Sign In" }}</button>
    </form>
  </div>
  <div *ngIf="isSignUpMode">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div>
        <label>Username:</label>
        <input formControlName="userName" type="text" />
      </div>
      <div>
        <label>Email:</label>
        <input formControlName="email" type="email" />
      </div>
      <div>
        <label>Password:</label>
        <input formControlName="password" type="password" />
      </div>
      <button type="submit">{{ isSignUpMode ? "Sign Up" : "Sign In" }}</button>
    </form>
  </div>
  <button (click)="toggleMode()">
    Switch to {{ isSignUpMode ? "Sign In" : "Sign Up" }}
  </button>
</div>
